article.home {
  header {
    h2 {
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: none;
    margin-bottom: 2em;
    padding-left: 0;
  }

  li {
    line-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    span {
      float: right;
      font-size: .8rem;
    }

    span.external-url {
      float: none;
      font-size: .9rem;
    }
  }
}

