article.home {
  header {
    h2 {
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: none;
    margin-bottom: 2em;
    padding-left: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    line-height: 2em;

    @media (max-width: $desktop-size) {
      margin-bottom: .5rem;
    }

    a {
      flex: 2 1 80%;

      @media (max-width: $desktop-size) {
        line-height: 1.5rem;
      }
    }

    span.post-date {
      flex: 1 0 20%;
      font-size: .8rem;
      text-align: right;

      @media (max-width: $desktop-size) {
        font-size: .6rem;
        line-height: 1rem;
        padding-top: .2rem;
      }
    }

    span.external-url {
      float: none;
      font-size: .9rem;
      margin-right: .1rem;

      @media (max-width: $desktop-size) {
        display: none;
      }
    }
  }
}

