$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$background-color: #FFFFFF;
$text-color: #222;

$color-1: #1f9b89;
$color-1a: #25afa1;
$color-2: #237284;
$color-2a: #2a899d;
$color-3: #314b80;
$color-3a: #3b5a99;
$color-4: #6d4780;
$color-4a: #835599;
$color-5: #a15d82;
$color-5a: #b4709b;
$color-6: #c69d98;
$color-6a: #d1b1ad;
$color-7: #e1e0b0;
$color-7a: #e7e6c0;

$desktop-size: 801px;

.color-1  { background-color: $color-1; }
.color-1a { background-color: $color-1a; }
.color-2  { background-color: $color-2; }
.color-2a { background-color: $color-2a; }
.color-3  { background-color: $color-3; }
.color-3a { background-color: $color-3a; }
.color-4  { background-color: $color-4; }
.color-4a { background-color: $color-4a; }
.color-5  { background-color: $color-5; }
.color-5a { background-color: $color-5a; }
.color-6  { background-color: $color-6; }
.color-6a { background-color: $color-6a; }
.color-7  { background-color: $color-7; }
.color-7a { background-color: $color-7a; }
